<?xml version="1.0" encoding="utf-8"?>
<AppSettingConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuItems>
    <!--<MenuItem xsi:type="MenuSeparator" MenuType="Separator" />-->
    <MenuItem MenuType="Item" Header="config_File">
      <MenuItems>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_openUri" ViewName="OpenUrlPage"/>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_backupWallet" ViewName="Invoke:BackUp"/>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_RestoreWallet" ViewName="Invoke:Restore"/>
        <MenuItem xsi:type="MenuSeparator" MenuType="Separator" />
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="SendAddress" ViewName="PayUrlsPage"/>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="ReceiveAddress" ViewName="ReceiveAddressPage"/>
      </MenuItems>
    </MenuItem>
    <MenuItem MenuType="Item" Header="config_setting">
      <MenuItems>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_encryptWallet" ViewName="PasswordSettingPage:EncryptedWallet"/>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_changePwd" ViewName="PasswordSettingPage:ChangePWD"/>
        <MenuItem xsi:type="MenuSeparator" MenuType="Separator" />
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_option" ViewName="OptionPage"/>
      </MenuItems>
    </MenuItem>
    <MenuItem MenuType="Item" Header="config_help">
      <MenuItems>
        <MenuItem xsi:type="MenuInfo" MenuType="Item" Header="config_aboutFiiicoin" ViewName="AboutPage"/>
      </MenuItems>
    </MenuItem>
  </MenuItems>

  <MainWindowTabs>
    <TabHeader Header="config_overview" PageName="OverviewPage" Icon="path_general_situation_tab" IsSelected="true" Description="config_overview_tooltip"/>
    <TabHeader Header="config_Send" PageName="SendPage" Icon="path_send_tab" IsSelected="false" Description="config_Send_tooltip"/>
    <TabHeader Header="config_receive" PageName="ReceivePage" Icon="path_receive_tab" IsSelected="false" Description="config_receive_tooltip"/>
    <TabHeader Header="config_transactions" PageName="TradeRecordPage" Icon="path_tradeRcodes_tab" IsSelected="false" Description="config_transactions_tooltip"/>
  </MainWindowTabs>

  <TimeGoalItems>
    <TimeGoalItem Key="1" Value="TimeGoalItems1"/>
    <TimeGoalItem Key="2" Value="TimeGoalItems2"/>
    <TimeGoalItem Key="3" Value="TimeGoalItems3"/>
    <TimeGoalItem Key="4" Value="TimeGoalItems4"/>
    <TimeGoalItem Key="5" Value="TimeGoalItems5"/>
    <TimeGoalItem Key="6" Value="TimeGoalItems6"/>
    <TimeGoalItem Key="7" Value="TimeGoalItems7"/>
  </TimeGoalItems>
  <LanguageType>Default</LanguageType>
  <WalletModel>Default</WalletModel>
</AppSettingConfig>